######################################
# Build Folders
######################################
bin/
obj/
[Bb]in/
[Oo]bj/

######################################
# Visual Studio
######################################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb

######################################
# Build Results
######################################
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

######################################
# Logs
######################################
*.log
[Ll]og/
[Ll]ogs/

######################################
# .NET Core
######################################
project.lock.json
project.fragment.lock.json
artifacts/

######################################
# ASP.NET Scaffolding
######################################
ScaffoldingReadMe.txt

######################################
# NuGet
######################################
*.nupkg
*.snupkg
packages/

######################################
# Environment Files
######################################
.env

######################################
# Test Results
######################################
TestResults/
[Tt]est[Rr]esult*/

#####################################